@inject NavigationManager NavigationManager

<style>
    .product-item__img {
        width: 100%;
        object-fit: contain;
        transition: 0.3s;
    }

        .product-item__img:hover {
            transform: scale(1.1);
        }
</style>
<MudLink Href=@($"/sanpham/{Shoe.Id}") Underline="Underline.None">
    <div style="cursor:pointer; width:100%;">
        <div style="width:100%; height:300px; overflow:hidden" class="d-flex align-items-center">
            <img loading="lazy" class="product-item__img" src="@Shoe?.ImagesNavigation?.FirstOrDefault()?.ThumbnailLink" />
        </div>
        <p class="my-2"style="color:#333">@Shoe.Title</p>
        <span class="mud-primary-text font-weight-bold">@(string.Format("{0:#,##0} đ", Shoe.Price))</span>
    </div>
</MudLink>


@code {
    [Parameter] public Shoe Shoe { get; set; }
}
