<div style="border-top:3px solid #808080;" class="w-100 mt-10">
    <MudContainer>
        <MudGrid>
            <MudItem xs="12" md="3" lg="3">
                <MudList Clickable="true" Dense="true">
                    <MudListItem><span class="font-weight-bold" style="font-size:1rem">CHÍNH SÁCH</span></MudListItem>
                    <MudListItem><span style="font-size: 0.8rem">Chính sách bảo hành</span></MudListItem>
                    <MudListItem><span style="font-size: 0.8rem">Chính sách đổi trả</span></MudListItem>
                    <MudListItem><span style="font-size: 0.8rem">Chính sách thanh toán</span></MudListItem>
                </MudList>
            </MudItem>
            <MudItem xs="12" md="3" lg="3">
                <MudList Clickable="true" Dense="true">
                    <MudListItem><span class="font-weight-bold" style="font-size:1rem">VỀ CHÚNG TÔI</span></MudListItem>
                    <MudListItem IconColor="Color.Tertiary" Icon="@Icons.Material.Filled.Map"><span style="font-size: 0.8rem">339 Do Xuan Hop, Quan 9, Tp Ho Chi Minh</span></MudListItem>
                    <MudListItem IconColor="Color.Error" Icon="@Icons.Material.Filled.Email"><span style="font-size: 0.8rem">withuwe021@gmail.com</span></MudListItem>
                    <MudListItem IconColor="Color.Success" Icon="@Icons.Material.Filled.Phone"><span style="font-size: 0.8rem">0344551543</span></MudListItem>
                    <MudListItem IconColor="Color.Info" Icon="@Icons.Material.Filled.Facebook"><span style="font-size: 0.8rem">https://www.facebook.com/profile.php?id=100029645195579</span></MudListItem>
                </MudList>
            </MudItem>
            <MudItem xs="12" md="3" lg="3">
                <MudList Clickable="true" Dense="true">
                    <MudListItem><span class="font-weight-bold" style="font-size:1rem">CHÍNH SÁCH</span></MudListItem>
                    <MudListItem><span style="font-size: 0.8rem">Chính sách bảo hành</span></MudListItem>
                    <MudListItem><span style="font-size: 0.8rem">Chính sách đổi trả</span></MudListItem>
                    <MudListItem><span style="font-size: 0.8rem">Chính sách thanh toán</span></MudListItem>
                </MudList>
            </MudItem>
            <MudItem xs="12" md="3" lg="3">
                <MudList Clickable="true" Dense="true">
                    <MudListItem><span class="font-weight-bold" style="font-size:1rem">CHÍNH SÁCH</span></MudListItem>
                    <MudListItem><span style="font-size: 0.8rem">Chính sách bảo hành</span></MudListItem>
                    <MudListItem><span style="font-size: 0.8rem">Chính sách đổi trả</span></MudListItem>
                    <MudListItem><span style="font-size: 0.8rem">Chính sách thanh toán</span></MudListItem>
                </MudList>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>