
<style>
    .account-dropdown {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
    }
    
</style>

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <div>Hello, @context.User.Identity.Name!
                <div class="account-dropdown d-flex flex-column">
                    <div class="d-flex align-items-center">
                        
                    </div>
                </div>
            </div>
            <MudLink Href="Identity/Account/Logout" Underline="Underline.None" Class="mx-3">Đăng xuất</MudLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <MudMenu OffsetY="true" Direction="Direction.Bottom">
            <ActivatorContent>
                <MudIcon Icon="@Icons.Outlined.SupervisedUserCircle" Style="font-size:2rem"
                         Color="Color.Dark" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem>
                    <MudLink Href="Identity/Account/Login" Underline="Underline.None">Đăng nhập</MudLink>
                </MudMenuItem>
                <MudMenuItem>
                    <MudLink Href="Identity/Account/Register" Underline="Underline.None">Đăng ký</MudLink>
                </MudMenuItem>
            </ChildContent>
        </MudMenu>
    </NotAuthorized>
</AuthorizeView>

@code{
    [Parameter] public bool LockCart { get; set; }
    
}