
<style>
    .account-dropdown {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
    }
    
</style>

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <MudMenu FullWidth="true" OffsetY="true" AnchorOrigin="Origin.BottomCenter">
                <ActivatorContent>
                    <MudChip Icon="@Icons.Material.Filled.Person" Color="Color.Primary">Hello, @context.User.Identity.Name!</MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem><MudLink Href="/nguoidung/donhang" Underline="Underline.None">Đơn hàng</MudLink></MudMenuItem>
                    <MudMenuItem><MudLink Href="Identity/Account/Logout" Underline="Underline.None">Đăng xuất</MudLink></MudMenuItem>
                </ChildContent>
            </MudMenu>
        </div>
    </Authorized>
    <NotAuthorized>
        <MudMenu OffsetY="true" AnchorOrigin="Origin.BottomCenter" FullWidth="true">
            <ActivatorContent>
                <MudChip Icon="@Icons.Material.Filled.Person" Color="Color.Primary">Chưa đăng nhập</MudChip>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem>
                    <MudLink Href="Identity/Account/Login" Underline="Underline.None">Đăng nhập</MudLink>
                </MudMenuItem>
                <MudMenuItem>
                    <MudLink Href="Identity/Account/Register" Underline="Underline.None">Đăng ký</MudLink>
                </MudMenuItem>
            </ChildContent>
        </MudMenu>
    </NotAuthorized>
</AuthorizeView>

@code{
    [Parameter] public bool LockCart { get; set; }
    
}