@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserRepository UserRepository
@inject ISnackbar Snackbar

@if (!NavigationManager.Uri.Contains("admin"))
{
    <CascadingValue Value="_userCascaded" Name="UserCascaded">
        <CascadingValue Value="_uriCascaded">
            @* HEADER *@
            <HeaderPage />
            <CascadingValue Value="_uriCascaded">
                <NavMenu />
            </CascadingValue>
            <br />

            @* BODY *@
            <MudContainer>

                @Body

            </MudContainer>
            @* FOOTER *@
            <Footer />
        </CascadingValue>
    </CascadingValue>
}
else
{
    <AuthorizeView Roles="Admin">
        <Authorized>
            <MudLayout>
                <MudAppBar Elevation="1">
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                    <MudSpacer />
                    <LoginDisplay LockCart="true" />
                </MudAppBar>
                <MudDrawer @bind-Open="@open" Elevation="1">
                    <MudDrawerHeader>
                        <div style="width:100%; overflow:hidden;">
                            <MudLink Href="/" Target="_blank | _self | _parent | _top | framename">
                                <img src="./images/logos/logo.jpg" style="object-fit:contain; width:100%; cursor:pointer;" />
                            </MudLink>
                        </div>
                    </MudDrawerHeader>
                    <ShopSportShoes.Features.AdminPage.Components.AdminNavMenu />
                </MudDrawer>
                <MudMainContent Class="pt-16 px-16">
                    <MudContainer Class="mt-6">
                        <CascadingValue Value="_userCascaded">
                            @Body
                        </CascadingValue>
                    </MudContainer>
                </MudMainContent>
            </MudLayout>
        </Authorized>
        <NotAuthorized>
            Đố anh bắt được em
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    bool _isAdminMode;
    bool open = true;

    string _uriCascaded => NavigationManager.Uri.Replace("https://localhost:44302", "");

    User _userCascaded = new();

    protected override void OnInitialized()
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync();
        var email = authState.Result.User.FindFirst(ClaimTypes.Email)?.Value;
        _userCascaded = UserRepository.GetUserByEmail(email) ?? new();

        base.OnInitialized();
    }

    async Task HandleSwitchMode()
    {
        _isAdminMode = !_isAdminMode;
        await Task.CompletedTask;
    }

    void ToggleDrawer()
    {
        open = !open;
    }

}
