@inject NavigationManager NavigationManager

<style>
    .menu-item {
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s;
        color: #333;
    }

        .menu-item:hover {
            color: #b90b0b;
        }

    .active-item {
        color: #b90b0b;
        border-bottom: 1px solid red;
    }
</style>
<MudContainer>
    <div class="d-flex" id="menu" style="height:50px;">
        @foreach (var item in _listTitle.Keys)
        {
            <MudLink Href="@item" Underline="Underline.None">
                <div class="menu-item d-flex align-items-center justify-content-center mx-3 pa-2 @(item == NavigationManager.Uri.Replace("https://localhost:44302", "") ? "active-item":"")">
                    @_listTitle[item]
                </div>
            </MudLink>
        }

        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudLink Href="/admin" Underline="Underline.None">
                    <div class="menu-item d-flex align-items-center justify-content-center mx-3 pa-2 @(UriCascaded.Contains("admin") ? "active-item":"")">
                        Admin
                    </div>
                </MudLink>
            </Authorized>
        </AuthorizeView>
    </div>
</MudContainer>

@code{
    [CascadingParameter] public string UriCascaded { get; set; }

    //List<string> _listTitle = new() { "Trang chủ", "Tất cả sản phẩm", "Giày cỏ nhân tạo", "Giày Futsal", "Giày trẻ em", "Admin" };
    Dictionary<string, string> _listTitle = new();

    protected override void OnInitialized()
    {
        _listTitle.Add("/", "Trang chủ");
        _listTitle.Add("/sanpham/tatca", "Tất cả sản phẩm");
        _listTitle.Add("/sanpham/Giày cỏ nhân tạo", "Giày cỏ nhân tạo");
        _listTitle.Add("/sanpham/Giày Futsal", "Giày Futsal");
        _listTitle.Add("/sanpham/Giày trẻ em", "Giày trẻ em");

        base.OnInitialized();
    }

}