@page "/admin"
@inject GoogleDriveService DriveService

<h3>Admin</h3>
<MudFileUploader/>
<MudButton OnClick="HandleOnClick">Click</MudButton>

@code {
    void HandleOnClick()
    {
        DriveService.UploadFIle("h1.png");
    }
}
