@page "/"
@using ShopSportShoes.Features.HomePage.Components


<div style="width:100%; overflow:hidden; position:relative;">
    <img src="./images/logos/mustbuy_img_master.jpg" style="object-fit:contain; width:100%;" />
</div>
<br/>
<ListNewRelease Title="MỚI PHÁT HÀNH"/>
<br />
<br />
<ListNewRelease Title="SẢN PHẨM NỔI BẬT" />

@code {

}
